Repository epstechtheatre/epstechtheatre.github.io, pull requests merged in 2021-01, with the labels that each got.

#4 Fix colors of btn primary
  docs/css/theme-red.css
Labels: wiki: Backend

#7 Update Scripting
  .github/labeler.yml
  docs/_scripts/pdf-Lighting.sh
  docs/_scripts/pdf-Sound.sh
  docs/_scripts/pdf-overview.sh
  docs/_scripts/update.sh
  docs/var/build.sh
Labels: backend: Meta, backend: Scripting

#12 Update pdf config code
  docs/pdfconfigs/config_Lighting_pdf.yml
  docs/pdfconfigs/config_Sound_pdf.yml
  docs/pdfconfigs/config_wiki_pdf.yml
Labels: backend: Scripting

#11 Update images
  docs/_config.yml
  docs/_includes/footer.html
  docs/images/Big_Logo.png
  docs/images/Small_Logo.png
  docs/images/androidsdkmanagericon.png
  docs/images/authorizegithubscreen2.png
  docs/images/authorizeongithub.png
  docs/images/company_logo.png
  docs/images/company_logo_big.png
  docs/images/favicon.ico
  docs/images/helpapi-01.png
  docs/images/helpapi.svg
  docs/images/illustratoroptions.png
  docs/images/itermexample.png
  docs/images/jekyll.png
  docs/images/killalljekyll.png
  docs/images/liningup.png
  docs/images/workflowarrow.png
  docs/pdfconfigs/_titlepage.html
  docs/pdfconfigs/_tocpage.html
  docs/pdfconfigs/titlepage.html
Labels: backend: Scripting, backend: Styling, wiki: Images modified

#13 Update page layout and btn css
  docs/_layouts/page.html
  docs/css/customstyles.css
  docs/css/theme-red.css
Labels: backend: Styling

#14 Rename ambiguous wiki category to overview
  .github/labeler.yml
  .templates/create_new_page.md
  docs/_config.yml
  docs/_data/sidebars/Overview_sidebar.yml
  docs/createtag
  docs/index.md
  docs/pages/Lighting/_Info for Contributors
  docs/pages/Sound/_Info for Contributors
  docs/pages/Wiki/_Info For Contributors
  docs/pages/Wiki/example.md
  docs/pages/news/news_archive.html
  docs/pages/tags/tag_collaboration.md
  docs/pages/tags/tag_content_types.md
  docs/pages/tags/tag_formatting.md
  docs/pages/tags/tag_getting_started.md
  docs/pages/tags/tag_mobile.md
  docs/pages/tags/tag_navigation.md
  docs/pages/tags/tag_news.md
  docs/pages/tags/tag_publishing.md
  docs/pages/tags/tag_single_sourcing.md
  docs/pages/tags/tag_special_layouts.md
  docs/pages/tags/tag_troubleshooting.md
  docs/pdfconfigs/config_Overview_pdf.yml
Labels: backend: Meta, backend: Scripting, wiki: Overview

#15 Add `noedit` flag
  .templates/create_new_page.md
  docs/404.md
  docs/_layouts/page.html
Labels: backend: Scripting, backend: Styling, wiki: Overview

#16 Remove transition time from nav dropdown
  docs/css/customstyles.css
Labels: backend: Styling

#17 Fix VSCODE file association and close body tag
  .vscode/settings.json
  docs/_layouts/page.html
Labels: backend: Meta, backend: Styling

#18 Update labeler.yml to support tag label
  .github/labeler.yml
Labels: backend: Meta

#19 Create tags in scope of project
  docs/_data/tags.yml
  docs/pages/tags/tag_contributing.md
  docs/pages/tags/tag_formatting.md
  docs/pages/tags/tag_getting_started.md
  docs/pages/tags/tag_lighting.md
  docs/pages/tags/tag_maintenance.md
  docs/pages/tags/tag_other.md
  docs/pages/tags/tag_publishing.md
  docs/pages/tags/tag_single_sourcing.md
  docs/pages/tags/tag_sound.md
Labels: backend: Styling, backend: Tags Modified

#20 Initial Lighting Wiki Skeleton
  _planning/planning.md
  docs/_data/sidebars/Lighting_sidebar.yml
  docs/pages/Lighting/Control Systems/Lighting_controlsys_dimmers.md
  docs/pages/Lighting/Control Systems/Lighting_controlsys_dmx.md
  docs/pages/Lighting/Control Systems/Lighting_controlsys_overview.md
  docs/pages/Lighting/Control Systems/Lighting_controlsys_snaps_works.md
  docs/pages/Lighting/Getting Started/Lighting_absolute_basics.md
  docs/pages/Lighting/Getting Started/Lighting_level_1.md
  docs/pages/Lighting/Getting Started/Lighting_level_2.md
  docs/pages/Lighting/Getting Started/Lighting_level_3.md
  docs/pages/Lighting/Getting Started/Lighting_level_4.md
  docs/pages/Lighting/Getting Started/Lighting_show_op.md
  docs/pages/Lighting/Overview/Lighting_definitions.md
  docs/pages/Lighting/Overview/Lighting_landing_page.md
  docs/pages/Lighting/Tutorials/Effects/create_effect.md
  docs/pages/Lighting/Tutorials/Lighting_tutorials_info.md
  docs/pages/Lighting/Tutorials/Macros/create_macro.md
  docs/pages/Lighting/Tutorials/Magic Sheets/create_magic_sheet.md
  docs/pages/Lighting/Tutorials/Palettes/create_palette.md
  docs/pages/Lighting/Tutorials/Settings/system_vs_showfile_settings.md
  docs/pages/Lighting/Tutorials/Shortcuts/typing_shortcuts.md
Labels: contribution: Help wanted, wiki: Lighting

#22 Fixes to CSS
  docs/_config.yml
  docs/_layouts/page.html
  docs/css/customstyles.css
  docs/css/theme-red.css
Labels: backend: Scripting, backend: Styling

#23 fix(CSS): Improve Page Button
  docs/_layouts/page.html
  docs/css/customstyles.css
Labels: backend: Styling

#27 cleanup: remove template posts
  .github/labeler.yml
  docs/_posts/2015-04-12-test-post-last-year.md
  docs/_posts/2016-02-24-first-post.md
  docs/_posts/2016-02-26-sample-post-jekyll.md
Labels: backend: Meta, wiki: Posts

#28 Css button helper
  docs/_config.yml
  docs/_includes/button_sequence.html
  docs/css/customstyles.css
  docs/css/theme-red.css
  docs/images/svg/Keyboard Overlay Source.svg
  docs/index.md
  docs/js/customscripts.js
Labels: backend: Scripting, backend: Styling, wiki: Images modified
